body {
    color: white;
    background-color: rgb(83, 78, 78);
    font-family: 'Bangers', cursive;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 
    min-height: 130vh;
    margin: 0;
}

#lista {
    background-color: rgb(27, 26, 26);
    text-align: center;
    color: white;
    padding: 15px;
    margin: 0;
    text-decoration: underline;
    border: 2px solid white; 
    font-size: 15px;
    font-family: 'Bangers', cursive;
}

main {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    padding: 20px;
}

.capitulo {
    flex: 0 0 30%; 
    margin: 10px;
    text-align: center;
}

.capitulo img {
    width: 80%; 
    height: auto; 
    max-width: 300px;
    border: 2px solid white;
}






.capitulo img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease, filter 0.3s ease; 
    filter: brightness(0.8); 
}

