body {
    color: white;
    background-color: rgb(83, 78, 78);
    font-family: 'Bangers',cursive;
    text-shadow: 10px, rg
    
}



#lista {
    background-color: rgb(27, 26, 26);
    text-align: center;
    color: white;
    padding: 15px;
    margin: -5px;
    text-decoration: underline;
    border-style: solid;
    font-size: 15px;
    font-family: 'Bangers',cursive;
 
}

main {
    display: flex;
    justify-content: center;
    padding: 20px;


}

.capitulo {
    flex: 0 0 30%; 
    margin: 10px; 
    text-align: center;
}

.capitulo img {
    width: 80%; 
    height: auto; 
    max-width: 300px;
border-style: solid;
border-color: white;

}
a:visited{
color: white;
}

.capitulo img:hover{
transform: scale(1.1);
transition: 0.3 ease;
filter: brightness(0.5);


}